<header>
  <nav class='navbar navbar-dark bg-dark'>
    <div class='container-fluid'>
      <a class='navbar-brand' href='/'>the shelf</a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarNavAltMarkup'
        aria-controls='navbarNavAltMarkup'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav'>
          <a class='nav-link active' aria-current='page' href='/'>home</a>
          <a class='nav-link' href='/api/authors'>authors</a>
          <a class='nav-link' href='/api/authors/new'>add author</a>
          <a class='nav-link' href='/api/books'>books</a>
          <a class='nav-link' href='/api/books/new'>add book</a>
        </div>
      </div>
    </div>
  </nav>
</header>